body {
    background-color: #111;
    margin: 0;
    padding: 0;
}

.sidebar,.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar {
    left: -100%;
    max-width: 300px;
    transition: all ease 0.25s;
    overflow-y: auto;
    z-index: 1032;
  }

  .overlay {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    z-index: 1031;
  }

.main-navigation.active .sidebar{
    left: 0;
}

.main-navigation.active .overlay{
    visibility: visible;
}


.my-name {
    color: #ffff;
}

.container-jv {
    display: flex;
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0), #111) ,url(../src/img/pexels-sohail-nachiti-807598.jpg);
    width: 100%;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.text-jv-e {
    margin-left: 150px;
    width: auto;
    /* mask-image: #111; */
}

.text-jv-e-text1 {
    color: #ffff;
    font-size: 30px;
}

.text-jv-d {
    margin-right: 150px;

}

.container-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}
.text-animado {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Comic Sans MS',;
    font-size: 10rem;
}

.sobre-min {
    display: flex;
    background-color: #111;
    justify-content: center;
    align-items: center;
    height: 84vh;
}

.sobre-min > div {
    margin: 30px;
    padding: auto;
}

.sobre-min > .felx-text {
    align-items: center;
    height: auto;
    width: 60%;
    
}

.felx-text {
    align-items: center;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.5rem;
    color: #ffffff;
}

.text-sobre-mim {
    margin-top: 281px;
}

.rs-logo {
    display: flex;
    margin-top: 281px;
}

.rs-logo > div > a{
    color: #ffffff;
    margin: 10px;
}

.rs-i:hover{
    font-size: 25px;
    color: #6e6e6e;
}

.user {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border: 5px rgb(170, 170, 170) solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 4.5s ease-in-out infinite; 
}

.user:hover {
    width: 360px;
    height: 360px;
}
.user img { 
    width: 100%; height: auto; }

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.projetos {
    /* border: 1px solid #ffffff; */
    height: auto;
    background-color: #111;
    padding: 6rem;
    padding-bottom: 100px;
}

.card-text {
    word-wrap: break-word;
    width: 380px;
    height: 100px; 
    overflow: hidden; 
    text-overflow:ellipsis;
}

.card-text:hover {
    overflow: auto;
}

.card-img-top {
    height: 214px;
}

.Habilidades {
    /* border: 1px solid #ffffff; */
    margin-bottom: 50px;
    display: flex;
    background-color: #111;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    margin-left: 100px;
}

.conteiner-logo {
    /* border: 1px solid #ffffff; */

    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 5rem;
}

.text-projeto {
    margin-top: 150px;
}

.sckill-container {
    width: auto;
}

.sckill-hover{
    font-size: 5rem;
    width: auto;
}

.sckill-i {
    color: #ffffff;
}

.sckill-i:hover {
    color: #6e6e6e;
    font-size: 5.2rem;
}

@media screen and (max-width: 1400px) {
    .card-text {
        width: 300px;
        height: 50px; 
    }
    .user {
        width: 300px;
        height: 300px;
    }
    .sobre-min > .felx-text {
        align-items: center;
        height: auto;
        width: 45%;
    }
    .felx-text {
        font-size: 1.2rem;
    }
    
    .rs-logo {
        font-size: 1rem;
        margin-top: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .text-jv-e {
        margin-left: 100px;
    }
    .text-jv-d {
        margin-right: 100px;
    }
    .text-animado {
        font-size: 5rem;
    }
    .text-jv-e-text1 {
        font-size: 20px;
    }
    .card-text {
        width: 250px;
        height: 50px; 
    }
    .user {
        width: 270px;
        height: 270px;
    }
    .sobre-min > .felx-text {
        align-items: center;
        height: auto;
        width: 40%;
    }
    .felx-text {
        font-size: 1.5rem;
    }
    .rs-logo {
        flex-wrap: wrap;
        font-size: 0.8rem;
        margin-top: 100px;
    }
    .sckill-i {
     font-size: 4rem;
    } 
    .sckill-i:hover {
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 1000px) {
    .text-jv-e {
        margin-left: 70px;
    }
    .text-jv-d {
        margin-right: 70px;
    }
    .text-animado {
        font-size: 3rem;
    }
    .sobre-min > .felx-text {  
        height: 80%;
    }
    .felx-text > p {
        overflow: auto;
    }
    .text-sobre-mim {
        height: 50%;
        overflow: auto;
        margin-top: 120px;
    }
    .rs-logo {
        margin-top: 120px;
    }
    .text-projeto {
        margin-top: 0px;
    }
    .card-text {
        width: 200px;
        height: 50px; 
    }
    .conteiner-logo {
        font-size: 4rem;
    }
    .sckill-i {
        font-size: 3rem;
    } 
    .sckill-i:hover {
           font-size: 3.2rem;
    }
    .card-img-top {
        height: 200px;
    }
    .card-body {
        width: 100%;
        height: 190px;
    }
    
}
@media (min-width: 992px) {
    .sidebar {
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      flex-direction: row;
      max-width: 100%;
      transform: none;
      transition: none;
      overflow-y: visible;
      z-index: auto;
    }
  }
@media screen and (max-width: 950px) {
    .text-jv-e {
        margin-left: 50px;
    }
    .text-jv-d {
        margin-right: 50px;
    }
    .conteiner-logo {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 880px) {
    .text-jv-e {
        margin-left: 50px;
    }
    .text-jv-d {
        margin-right: 50px;
    }
    .user {
        width: 220px;
        height: 220px;
    }
    .text-animado {
        font-size: 3rem;
    }
    .card-text {
        width: 170px;
        height: 50px; 
    }
    .felx-text {
        font-size: 1.3rem;
    }
    .Habilidades {
        margin-left: 50px;
        }
    .sckill-i {
        font-size: 2.6rem;
    } 
    .sckill-i:hover {
           font-size: 2.8rem;
    }
}
@media screen and (max-width: 600px) {
    #bg-img{
        height: 30vh;
    }
    .text-animado {
        font-size: 2.5rem;
    }
    .card-text {
        width: 150px;
        height: 50px; 
    }
    .Habilidades {
    margin-left: 50px;
    }
    .sckill-i {
        font-size: 2rem;
    } 
    .sckill-i:hover {
           font-size: 2.2rem;
    }
}
@media screen and (max-width: 500px) {
    .sobre-min > .felx-text  {
        /* margin-left: px; */
    }
    .Habilidades {
        margin-left: 20px;
    }
    .card-img-top {
        height: auto;
    }
    .card-body {
        width: 100%;
        height: auto;
    }

}
@media screen and (max-width: 450px) {
    .sobre-min > .felx-text  {
        margin-left: -70px;
    }
    .user {
        width: 160px;
        height: 160px;
        margin-right: -110px;
    }
}
@media screen and (max-width: 400px) {
    .my-name {
        justify-content: center;
    }
    .nav-item {
        font-size: 10px;
    }
    .container-jv {
        width: 100%;
        height: 707px;
    }
    .text-jv-e {
        margin-left: 20px;
    }
    .text-jv-d {
        margin-right: 20px;
    }
    .sobre-min > .felx-text  {
        margin-left: -70px;
    }
    .user {
        width: 150px;
        height: 150px;
        margin-right: -110px;
    }
    .text-animado {
        font-size: 2rem;
    }
    .text-jv-e-text1 {
        font-size: 15px;
    }
    .conteiner-logo {
        font-size: 1.5rem;
    }
    .rs-logo {
        margin-top: 80px;
    }
    .Habilidades {
        margin-left: 15px;
    }
    
    .sckill-hover{
        font-size: 1.2rem;
        width: auto;
    }
    
    .sckill-i {
     color: #ffffff;
     font-size: 1rem;
    }
    
    .sckill-i:hover {
        color: #6e6e6e;
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 380px) {
.rs-logo {
    margin-top: 30px;
}
}